body{
  font-family: Arial, Helvetica, sans-serif;
}
/*Dummy text styles*/
.navbar{
  background-color: #111;
}
.header{
  /*background-image: url(../css/girls.jpg);*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#bgcolor{
  background-color: rgba(0,0,0,0.56);
  height: auto;
}
.navbar-toggler-icon{
  font-size: 29px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: left;
    background-color: rgba(0,0,0,0.90);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #f1f1f1;
    text-decoration: none;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 10px;}
  .sidenav a {font-size: 18px;}
}
#rowhead{
  border: 1px solid transparent;
  width: 100%;
}
/*{
  margin-top: 1.3%;
}*/
#button{
  line-height: 30px;
  background-color: rgba(0,0,0,0.28);
  color: #9ACD32;
  border-color: #9ACD32;
  cursor: pointer;
}
#button:hover{
  color: white;
}
#text{
  border: 1px solid transparent;
  text-align: center;
  color: white;
}
#btnb{
  line-height: 30px;
  background-color: rgba(0,0,0,0.28);
  color: white;
  cursor: pointer;
  border-radius: 30px 30px 30px 30px;
  border-color: lightgray;
}
#btnb:hover{
  transition: 2s;
  background-color: #9ACD32;
}

/*RECENT POSTS STYLE START*/

#heading{
  text-align: center;
}
#heading>h1{
  font-weight: bold;
}
.panel-heading a:hover{
  text-decoration: none;
}
.panel-heading a:visited{
  text-decoration: none;
}
.container {
  margin-top: 20px;
}
.page {
  display: none;
}
.page-active {
  display: block;
}
.cat{
  padding: 15px;
  font-size: 14px;
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 2px 0px gray;
}
.cat>a{
  color: gray;
  font-size: 18px;
}
.cat>a:hover{
  color: #32CD32;
  font-size: 18px;
  text-decoration: none;
  color: #32CD32;
}
.hub{
  padding: 15px;
  font-size: 14px;
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 2px 0px gray;
}
.hub>a{
  color: black;
  font-size: 18px;
}
.hub>a:hover{
  color: #32CD32;
  font-size: 18px;
  text-decoration: none;
  color: #32CD32;
}
.hub>p{
  font-size: 18px;
  color: gray;
  margin-left: 10%;
}
.search{
  margin-top: 9%;
  text-align: right;
  margin-right: 5%;
  border-color: lightgray;
}
.search button {
  float: right;
  padding: 6px 20px;
  background: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: gray;
}
.search-container button:hover {
  background: #fff;
}
input[type=text]{
  line-height: 35px;
  border: none;
  width: 60%;
}
#row1{
  border: 1px solid transparent;
  margin-left: 3%;
  position: relative;
}
.image{
  background-color: white;
  border: 1px solid transparent;
  box-shadow: 0px 0px 5px 0px gray;
}
.image:hover{
  transition: 1s;
  box-shadow: 0px 0px 5px 3px gray;
}
#larr,#rarr{
  font-size: 40px;
  text-decoration: none;
}
#larr:hover,#rarr:hover{
  text-decoration: none;
  color: #32CD32;
}
.img-responsive{
  width: 100%;
}
#cont{
  margin-left: 15px;
}
#div1{
  float: left;
  margin-top: -15px;
}
.aside1{
  padding: 15px;
  font-size: 14px;
  position: relative;
  width: 70%;
  margin-right: 13.5%;
  float: right;
  margin-top: -8%;
  background-color: white;
  box-shadow: 0px 0px 2px 0px gray;
}
.aside1>a{
  color: gray;
  font-size: 18px;
}
.aside1>a:hover{
  color: #32CD32;
  font-size: 18px;
  text-decoration: none;
  color: #32CD32;
}
.aside2 {
  padding: 15px;
  font-size: 14px;
  width: 70%;
  margin-right: 13.5%;
  float: right;
  position: relative;
  margin-top: 0%;
  background-color: white;
  box-shadow: 0px 0px 2px 0px gray;
}
.aside2>a{
  color: black;
  font-size: 18px;
}
.aside2>a:hover{
  color: #32CD32;
  font-size: 18px;
  text-decoration: none;
  color: #32CD32;
}
.aside2>p{
  font-size: 18px;
  color: gray;
  margin-left: 10%;
}
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
#viewbutton{
  width: 30%;
  height: 40px;
  background-color: #9ACD32;
  border-radius: 30px 30px 30px 30px;
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px gray;
}
/*RECENT POSTS STYLES END*/

/*Feature Posts Styles*/
#post:hover{
  box-shadow: 0px 0px 15px 0px gray;
}

/*FOOTER PART STYLES STARTS*/
#foot{
  column-count: 5;
}
#footer_part{
  background-color: #161415;
  display:block;
  height: auto; 
  padding:0;
  margin: 0;
  color: white;
}
.f_footer
{
  
  height:auto;
  overflow:hidden;
  margin:0px;
  padding:15px;
  border: 1px solid transparent;
  display:inline-block;
}
.f_header
{
  word-spacing: -1px;
    text-align: center;
  color:white;
  
}
.f_footer ul
{
  list-style-type:none;
  line-height:2em;
  
}
.footer_i
{
  padding-right:20px;
}
.footer_i:hover{
  color: white;
}
.f_footer a:link 
{
    color: rgb(167, 160, 160);
    text-decoration:none;
}
.f_footer a:hover ,.f_footer a:visited,.f_footer p{
    color: rgb(250, 239, 239);  
}
.f_footer p {padding-left:20px;}
/*footer*/
footer
{
  width:100%;
  height:10%;
  text-align:center;
  color:white;
  background-color:rgb(1, 12, 12);
  float:left;
}
@media (min-width: 768px)
{
  .f_footer{
  width:50%;
  }
}

@media (min-width: 992px)
{
  .f_footer
  {
  width:20%;
}
}
/*gallary part*/
div.gallery img {
    width: 100%;
    height: auto;
}
* {
    box-sizing: border-box;
}

.f_gallery {
    padding: 2px 2px;
    float: left;
   width: 49.99999%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/* end footer part*/
