

<body><!-- body tag starting-->

<!--dummy text starting-->
<header class="header">
<div class="fluid-container" id="bgcolor">
  <nav class="navbar navbar-expand-md navbar-dark navbar-fixed-top">
    <div class="container">
      <div class="sidenav" id="mySideNav">
         <a href="javascript:void(0)" class="colsebtn" onclick="closeNav()" style="text-align: right;font-size: 50px;">&times;</a>
         <a href="./index.html">About</a>
         <a href="#recentPosts">RecentPosts</a>
         <a href="#featuredPosts">Featured Posts</a>
         <a href="#recommendedPosts">Recommended Posts</a>
         <a href="#footer_part">ContactUs</a>
      </div>
      <div class="row" id="rowhead">
        <div class="col-lg-2 col-xs-2 col-md-2 col-sm-4"><span class="navbar-toggler-icon" onclick="openNav()" style="font-size:30px;cursor:pointer"></span>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-6 col-sm-4" id="log">
          <h1 class="nav-item text-center text-light">LifeOfGirl</h1>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4" id="btn">
          <button id="button">Login/Register</button>
        </div>
      </div>
    </div>
  </nav><br><br><br><br><br>
  <div id="text">
    <h1>LOREM IPSUM IS DUMMY TEXT</h1>
    <p>Lorem ipsum is the dummy text of printing and typeposting industry.<br>Lorem ipsum is simply dummy text.</p>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
        <div><button id="btnb">LOG AUTHENTIC INFORMATION</button></div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
        <div><button id="btnb">PERSONALIZED INFORMATION</button></div>
      </div>
    </div>
  </div><br><br>
</div>
</header><!-- dummy text ending-->


<!-- RECENT POSTS START-->
<section class="RECENT POSTS bg-light" id="recentPosts">
  <!--division row starting-->
  <div class="row" id="rowhead">
    <!--division column starting-->
    <div class="col-sm-8">
      <div id="heading">
        <h1>RECENT POSTS</h1>
        <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed to elusmod tempor incididunt ut<br> 
             labore et dalore magna aliqua</p>
      </div>
    </div><!--division column ending-->
    <!--division column starting-->
    <div class="col-sm-4">
      <div id="search-container">
        <div class="search">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i id="fs" class="fa fa-search"></i></button>
        </div>
      </div>
     </div><!--division column endting-->
  </div><br><!--division row ending-->

  <!--division CATEGORY&HUB starting-->
  <div class="row">
    <div class="col-xs-6 visible-xs">
      <div class="panel-group" id="groupPost">
        <div class="panel panel-primary">
          <div class="panel-heading bg-light text-dark">
            <h6 class="panel-title text-center">
              <a href="#category" data-toggle="collapse" data-parent="#groupPost">
                CATEGORY&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-menu-up"></span>
              </a>
            </h6>
          </div>
          <div id="category" class="panel-collapse collapse">
            <div class="col-xs-12 cat"><!--division start--><br>
                  <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Women Empowerment</p></a>
                  <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Girls Education</p></a>
                  <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Health Tips</p></a>
                  <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Child Marriage</p></a>
                  <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Problem Resolution</p></a>
                  <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Relationships</p></a>
                  <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Women Startups</p></a>
                  <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Gate Training</p></a>
                  <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Success</p></a>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 visible-xs">
      <div class="panel-group" id="groupPost">
        <div class="panel panel-primary">
          <div class="panel-heading bg-light text-dark text-center">
            <h6 class="panel-title">
              <a href="#hub" data-toggle="collapse" data-parent="#groupPost">
                PROBLEM RESOLUTION 
                <span class="glyphicon glyphicon-menu-up"></span>
              </a>
            </h6>
          </div>
          <div id="hub" class="panel-collapse collapse">
            <div class="col-xs-12 hub"><!--division start--><br>
                  <a href="#"><h5 id="ps"><b>&rarr;</b>&nbsp;&nbsp;National Level Issue</h5></a>
                  <p>Lorem Ipsum is simply dummy of the printing and typesetting industry</p><br>
                  <a href="#"><h5 id="ps"><b>&rarr;</b>&nbsp;&nbsp;State Level Issue</h5></a>
                  <p>Lorem Ipsum is simply dummy of the printing and typesetting industry</p><br>
                  <a href="#"><h5 id="ps"><b>&rarr;</b>&nbsp;&nbsp;Local Issue</h5></a>
                  <p>Lorem Ipsum is simply dummy of the printing and typesetting industry</p><br>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--division CATEGORY&HUB ending-->

  <!--division row starting-->
  <div class="row" id="row1">
    <!--division column starting-->
    <div class="col-lg-8 col-sm-8 col-xs-12">
      <div class="row page" id="page1">
        <div class="col-lg-6 col-sm-6 col-xs-6">
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
        </div>
      </div><!--division column ending-->
      <div class="col-lg-6 col-sm-6 col-xs-6">
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
        </div>
      </div><!--division column ending-->
      <div class="col-lg-6 col-sm-6 col-xs-6"><br><br>
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
        </div>
      </div><!--division column ending-->
      <!--division column starting-->
      <div class="col-lg-6 col-sm-6 col-xs-6"><br><br>
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
          </div>
      </div><!--division column ending-->
    </div>
    <div class="row page" id="page2">
        <div class="col-lg-6 col-sm-6 col-xs-6">
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
        </div>
      </div><!--division column ending-->
      <div class="col-lg-6 col-sm-6 col-xs-6">
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
        </div>
      </div><!--division column ending-->
      <div class="col-lg-6 col-sm-6 col-xs-6"><br><br>
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
        </div>
      </div><!--division column ending-->
      <!--division column starting-->
      <div class="col-lg-6 col-sm-6 col-xs-6"><br><br>
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
          </div>
      </div><!--division column ending-->
    </div>
    <div class="row page" id="page3">
        <div class="col-lg-6 col-sm-6 col-xs-6">
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
        </div>
      </div><!--division column ending-->
      <div class="col-lg-6 col-sm-6 col-xs-6">
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
        </div>
      </div><!--division column ending-->
      <div class="col-lg-6 col-sm-6 col-xs-6"><br><br>
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
        </div>
      </div><!--division column ending-->
      <!--division column starting-->
      <div class="col-lg-6 col-sm-6 col-xs-6"><br><br>
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
          </div>
      </div><!--division column ending-->
    </div>
    <div class="row page" id="page4">
        <div class="col-lg-6 col-sm-6 col-xs-6">
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
        </div>
      </div><!--division column ending-->
      <div class="col-lg-6 col-sm-6 col-xs-6">
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
        </div>
      </div><!--division column ending-->
      <div class="col-lg-6 col-sm-6 col-xs-6"><br><br>
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
        </div>
      </div><!--division column ending-->
      <!--division column starting-->
      <div class="col-lg-6 col-sm-6 col-xs-6"><br><br>
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
          </div>
      </div><!--division column ending-->
    </div>
    <div class="row page" id="page5">
        <div class="col-lg-6 col-sm-6 col-xs-6">
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
        </div>
      </div><!--division column ending-->
      <div class="col-lg-6 col-sm-6 col-xs-6">
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
        </div>
      </div><!--division column ending-->
      <div class="col-lg-6 col-sm-6 col-xs-6"><br><br>
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
        </div>
      </div><!--division column ending-->
      <!--division column starting-->
      <div class="col-lg-6 col-sm-6 col-xs-6"><br><br>
        <div class="image">
          <div>
            <a href="#">
                <img src="../assets/emp.jpg" class="img-responsive">
            </a>
          </div>
          <div id="cont">
              <h3 id="l">Lorem Ipsum is simply dummy text</h3>
              <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
              <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
              <div id="div2">
                <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
            </div>
          </div><br>
          </div>
      </div><!--division column ending-->
    </div>

    <!--division row starting-->
    <div class="row" id="row2" style="width: 100%;"><br><br>
      <!--division column starting-->
      <ul id="pagination-demo" class="pagination-lg pull-right" style="display: none;"></ul>
      <div class="col-sm-8" style="margin-left: 40%;padding: 20px;">
        <!--<button id="viewbutton" onclick="viewAll()">VIEW ALL</button>-->
        <input type="button" id="viewbutton" onclick="viewAll()" value="VIEW ALL">
      </div>
    </div><!--division row ending-->
  </div>



    <!--division column starting-->
    <div class="col-sm-4 col-xs-12 hidden-xs">
      <div class="col-lg-12 col-sm-12">
        <div class="aside1"><!--division start-->
            <h4 class="text-center"><b>CATEGORY POSTS</b></h4><br>
            <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Women Empowerment</p></a>
            <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Girls Education</p></a>
            <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Health Tips</p></a>
            <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Child Marriage</p></a>
            <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Problem Resolution</p></a>
            <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Relationships</p></a>
            <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Women Startups</p></a>
            <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Gate Training</p></a>
            <a href="#" id="lists"><p id="pp"><b>&#10095;</b>&nbsp;&nbsp;Success</p></a>
        </div><!--division start-->
      </div>
      <!--division column starting-->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs"><br>
        <div class="aside2"><!--division start-->
              <h4 class="text-center"><b>PROBLEM RESOLUTION HUB</b></h4><br>
              <a href="#"><h5 id="ps"><b>&rarr;</b>&nbsp;&nbsp;National Level Issue</h5></a>
              <p>Lorem Ipsum is simply dummy of the printing and typesetting industry</p><br>
              <a href="#"><h5 id="ps"><b>&rarr;</b>&nbsp;&nbsp;State Level Issue</h5></a>
              <p>Lorem Ipsum is simply dummy of the printing and typesetting industry</p><br>
              <a href="#"><h5 id="ps"><b>&rarr;</b>&nbsp;&nbsp;Local Issue</h5></a>
              <p>Lorem Ipsum is simply dummy of the printing and typesetting industry</p><br>
          </div><!--division start-->
      </div><!--division column ending-->
    </div><!--division column ending-->
   
  </div><br><br><!--division row ending-->
    
</section><!-- RECENT POSTS END-->

  <!-- featuerd posts start-->
<section class="FEATURED POSTS" id="featuredPosts">
<!--container start-->
<div class="container"><br><br>
<h1 class="text-center">FEATURED POSTS</h1>
<p class="text-center">Lorem ipsum dolor sit armit, consectetur adipisicing elit, sed  do eiusmod<br>tempor incidenr ut  labore et dolor magna aliqua</p><br><br>

 <div class="row">
  
   <div class="col-sm-6" id="post">
  <div class="media" style="box-shadow: 0px 0px 5px 0px #888888;width: 103%;">
    <div class="media-left media-top">
      <img src="../assets/g1.jpeg" class="media-object" style="width:150px;height:230px;border-radius:8px">
    </div>
    <div class="media-body"><br><br>
     <h4 class="media-heading">Lorem Ipsum is simply dummy text</h4>
      <p>Lorem ipsum is simply dummy text of the printing.</p><br><br>
      <div class="media" style="padding: 10px">
            <div class="media-left">
              <img src="../assets/g1.jpeg" class="rounded-circle" width="50" height="50">
            </div>
            <div class="media-body"><br>
              <h5 class="media-heading">John Doe <small><i> February 19, 2016</i></small></h5>
            </div>
          </div>
    </div>
  </div>
  </div>
  <div class="col-sm-6" id="post">
    <div class="media" style="box-shadow: 0px 0px 5px 0px #888888;width: 103%;">
      <div class="media-left media-middle">
        <img src="../assets/g2.jpeg" class="media-object" style="width:150px;height:230px;border-radius:8px">
      </div>
      <div class="media-body"><br><br>
        <h4 class="media-heading">Lorem Ipsum is simply dummy text</h4>
        <p>Lorem ipsum is simply dummy text of the printing.</p><br><br>
         <div class="media">
              <div class="media-left">
                <img src="../assets/g2.jpeg" class="rounded-circle" width="50" height="50">
              </div>
              <div class="media-body"><br>
                <h5 class="media-heading">John Doe <small><i> February 19, 2016</i></small></h5>
              </div>
            </div>
      </div>
    </div>
  </div>
  </div>
  <br>
  <br>
<div class="row">
  
   <div class="col-sm-6" id="post">
  <div class="media" style="box-shadow: 0px 0px 5px 0px #888888;width: 103%;">
    <div class="media-left media-top">
      <img src="../assets/g3.jpeg" class="media-object" style="width:150px;height:230px;border-radius:8px">
    </div>
    <div class="media-body"><br><br>
     <h4 class="media-heading">Lorem Ipsum is simply dummy text</h4>
      <p>Lorem ipsum is simply dummy text of the printing.</p><br><br>
      <div class="media">
            <div class="media-left">
              <img src="../assets/g1.jpeg" class="rounded-circle" width="50" height="50">
            </div>
            <div class="media-body"><br>
              <h5 class="media-heading">John Doe <small><i> February 19, 2016</i></small></h5>
            </div>
          </div>
    </div>
  </div>
  </div>
  <div class="col-sm-6" id="post">
  <div class="media" style="box-shadow: 0px 0px 5px 0px #888888;width: 103%;">
    <div class="media-left media-middle">
      <img src="../assets/g4.jpeg" class="media-object" style="width:150px;height:230px;border-radius:8px">
    </div>
    <div class="media-body"><br><br>
      <h4 class="media-heading">Lorem Ipsum is simply dummy text</h4>
      <p>Lorem ipsum is simply dummy text of the printing.</p><br><br>
      <div class="media">
            <div class="media-left">
              <img src="../assets/g1.jpeg" class="rounded-circle" width="50" height="50">
            </div>
            <div class="media-body"><br>
              <h5 class="media-heading">John Doe <small><i> February 19, 2016</i></small></h5>
            </div>
          </div>
    </div>
  </div>
  </div>
  </div>
</div><!--container end--><br><br><br>
</section><!-- featured posts end-->

<!-- Recommended posts staring-->
<section class="bg-light" id="recommendedPosts"><br><br>
  <div class="text-center">
    <br><h1>RECOMMENDED POSTS</h1>
    <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed do eiusmod tempor incididunt<br> ut
    labore et dolore magna aliqua</p>
  </div><br><br>
  <div class="container">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
    </ul>
    <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row" id="roww">
              <div class="col-sm-4 col-xs-6">
                <div class="image">
                  <div>
                    <a href="#">
                        <img src="../assets/emp.jpg" class="img-responsive">
                    </a>
                  </div>
                  <div id="cont">
                      <h3 id="l">Lorem Ipsum is simply dummy text</h3>
                      <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
                      <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
                      <div id="div2">
                        <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
                    </div>
                  </div><br>
                </div>
              </div>
              <div class="col-sm-4 col-xs-6">
                <div class="image">
                  <div>
                    <a href="#">
                        <img src="../assets/emp.jpg" class="img-responsive">
                    </a>
                  </div>
                  <div id="cont">
                      <h3 id="l">Lorem Ipsum is simply dummy text</h3>
                      <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
                      <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
                      <div id="div2">
                        <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
                    </div>
                  </div><br>
                </div>
              </div>
              <div class="col-sm-4 col-xs-6 hidden-xs">
                <div class="image">
                  <div>
                    <a href="#">
                        <img src="../assets/emp.jpg" class="img-responsive">
                    </a>
                  </div>
                  <div id="cont">
                      <h3 id="l">Lorem Ipsum is simply dummy text</h3>
                      <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
                      <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
                      <div id="div2">
                        <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
                    </div>
                  </div><br>
                </div>
              </div>
            </div>
            </div>
            <div class="carousel-item">
              <div class="row" id="roww">
                <div class="col-sm-4 col-xs-6">
                  <div class="image">
                    <div>
                      <a href="#">
                          <img src="../assets/emp.jpg" class="img-responsive">
                      </a>
                    </div>
                    <div id="cont">
                        <h3 id="l">Lorem Ipsum is simply dummy text</h3>
                        <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
                        <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
                        <div id="div2">
                          <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
                      </div>
                    </div><br>
                  </div>
              </div>
              <div class="col-sm-4 col-xs-6">
                <div class="image">
                  <div>
                    <a href="#">
                        <img src="../assets/emp.jpg" class="img-responsive">
                    </a>
                  </div>
                  <div id="cont">
                      <h3 id="l">Lorem Ipsum is simply dummy text</h3>
                      <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
                      <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
                      <div id="div2">
                        <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
                    </div>
                  </div><br>
                </div>
              </div>
              <div class="col-sm-4 col-xs-6 hidden-xs">
                <div class="image">
                  <div>
                    <a href="#">
                        <img src="../assets/emp.jpg" class="img-responsive">
                    </a>
                  </div>
                  <div id="cont">
                      <h3 id="l">Lorem Ipsum is simply dummy text</h3>
                      <p id="pd">Lorem Ipsum is simply dummy text of printing</p><br>
                      <div id="div1"><img src="../assets/empab.jpg" class="rounded-circle" width="70px" height="70px" id="image"></div>
                      <div id="div2">
                        <h5 id="hh">Lorem Ipsum</h5><h6 id="hhh">Jun 20,2018</h6>
                    </div>
                  </div><br>
                </div>
              </div>
              </div><!--Carousel-item row ending-->
            </div><!--Carousel-item ending-->
          </div><!--Carousel-inner ending-->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon" style="margin-left: -140%;background-color: black;"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon" style="margin-right: -140%;background-color: black;"></span>
        </a>
        </div>
      </div><br><br><br>
</section><!-- Recommended posts ending-->

<!--footer starting-->
<!--footer starting-->
<section id="footer_part">
  <div class="container-fluid">
    <div class="row" style="margin-left: 5%;">
    <div class="col-sm-2 col-xs-12 f_footer">
      <a href="#home"><img src="../images/f_logo.png" /></a>
      <p>Subscribe our newsletter to get important News,Amazing Offers & inside Scoops.</p>
    </div>

    <div class="col-sm-2 col-xs-12 f_footer">
    <h3 class="f_header">Usefull Links</h3>
      <ul>
      <li><a href="#">Pregnant Women</a></li>
      <li><a href="#">Single Father</a></li>
      <li><a href="#">Pre-Martial Sex</a></li>
      <li><a href="#">Love & Issues</a></li>
      <li><a href="#">Enterprenurship</a></li>
      <li><a href="#">I need to run a Champaign</a></li>
       </ul>
    </div>

    <div class="col-sm-2 col-xs-12 f_footer">
      <h3 class="f_header">Wanna Help</h3>
        <ul>
        <li><a href="#">Financial Help</a></li>
        <li><a href="#">I can write</a></li>
        <li><a href="#">I can Network</a></li>
        <li><a href="#">Something Special</a></li>
        <li><a href="#">Join the Team</a></li>
        <li><a href="#">I am the coder</a></li>
         </ul>
      </div>
    <div class="col-sm-2 col-xs-12 f_footer">
      <h3 class="f_header">Gallery</h3>
      <div class="f_gallery">
        <div class="gallery">
          <a target="_blank" href="../images/girl.jpg">
          <img src="../images/girl.jpg" alt="Trolltunga Norway" width="600" height="400">
          </a>
        </div>
      </div>
      
      
      <div class="f_gallery">
        <div class="gallery">
          <a target="_blank" href="../images/girl1.jpg">
          <img src="../images/girl1.jpg" alt="Forest" width="600" height="400">
          </a>
        </div>
      </div>
      
      <div class="f_gallery">
        <div class="gallery">
          <a target="_blank" href="../images/girl2.jpg">
          <img src="../images/girl2.jpg" alt="Northern Lights" width="600" height="400">
          </a>
         </div>
      </div>
      
      <div class="f_gallery">
        <div class="gallery">
          <a target="_blank" href="../images/girl.jpg">
          <img src="../images/girl.jpg" alt="Mountains" width="600" height="400">
          </a>
         </div>
      </div>
      
      <div class="clearfix"></div>
      
    </div>
    <div class="col-sm-3 col-xs-12 f_footer">
      <h3 class="f_header">NEWSLETTER </h3>
      <p>Subscribe our newsletter to get important News,Amazing Offers & inside Scoops.</p>
      <div class="input-group col-sm-11" style="margin-left: 15px;">
        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
        <span class="input-group-addon"><a href="#" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-send"></i></a></span>  
      </div>
      <div class="socail">
        <ul>
          <li style="float:left;"><a href="#"><i class="fa fa-facebook-square footer_i" aria-hidden="true"></i></a></li>
          <li style="float:left;"><a href="#"><i class="fa fa-google-plus footer_i" aria-hidden="true"></i></a></li>
          <li style="float:left;"><a href="#"><i class="fa fa-twitter footer_i" aria-hidden="true"></i></a></li>
          <li style="float:left;"><a href="#"><i class="fa fa-linkedin footer_i" aria-hidden="true"></i></a></li>
        </ul>
      </div>  
    </div>
  </div>
  </div>
  <footer>
  <p> &copy; LIFE OF GIRL All Rights Reserved </p>
  </footer>
</section>
<!--end of footer part-->
<!--end of footer part-->



</body>
